<div class="col-md-12 d-flex row h-100">
  <div class="col-md-6 min-vh-100 bg-dark d-flex flex-column justify-content-center align-items-center">
    <h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
      </svg>
      Financial Assets
    </h1>
  </div>
    <div class="col-md-6 d-flex flex-column justify-content-around">
      <p class="p-4">
        <a href="../login/login.component.html">
          &lt;
          Voltar para Login
        </a>
      </p>
      <div class="mt-5 d-inline justify-content-center align-items-center">
        <h3 class="text-center">Valide seu acesso inserindo o seu código</h3>
        <p class="text-center">Enviamos um código para o seu e-mail</p>
          <div class="d-flex justify-content-center align-items-center">
            <form action="">
              <div class="row w-10">
                <input type="text" class="col" maxlength="1">
                <input type="text" class="col" maxlength="1">
                <input type="text" class="col" maxlength="1">
                <input type="text" class="col" maxlength="1">
                <input type="text" class="col" maxlength="1">
                <input type="text" class="col" maxlength="1">
              </div>
              <p class="text-center mt-3">O código é válido por 5 minutos</p>
              <button class="btn btn-primary mt-5">Entrar</button>
            </form>
          </div>
      </div>
    </div>
</div>
