.tokens {
  max-width: 422px;
  box-sizing: border-box;
}

.col > input[type=text] {
  width: 48px;
  height: 56px;
  border: 1px solid #BEBEBE;
  border-radius: 4px;
  padding: 10px;
}

button {
  width: 422px;
  height: 48px;
  border-radius: 4px;
  padding: 10px;
}

a {
  text-decoration: none;
}

p > a {
  font-weight: bold;
  color: #0A58CA;
  ;
}

.header h4 {
  color: #9ec5fe;
}
