<div class="container-fluid col-md-12 d-flex row h-100">
  <div class="header col-md-6 min-vh-100 bg-dark d-flex flex-column justify-content-center align-items-center">
    <h4 class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
      </svg>
      Financial Assets
    </h4>
  </div>
    <div class="main col-md-6 min-vh-100 d-flex flex-column justify-content-center align-items-center">
      <form [formGroup]="loginForm">
        <h4 class="text-center font-weight-bold">Faça o Login para acessar sua conta</h4>
        <p>Informe seu e-mail e senha</p>
        <div class="mt-3">
          <input type="email" formControlName="username" placeholder="E-mail">
        </div>
        <small *ngIf="loginForm.controls" class="text-danger">*E-mail é obrigatório o preenchimento.</small>
        <div class="mt-3">
          <input type="password" formControlName="password" placeholder="Senha">
        </div>
        <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">*Senha é obrigatória o preenchimento.</small>
        <div class="mt-3">
          <button (click)="submitForm()" type="button" class="btn btn-primary">Entrar</button>
        </div>
      </form>
    </div>
</div>
