@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter' !important;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  color: #212529;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6, p, th, td, button {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password] {
  border-color: #BEBEBE !important;
}

.container {
  background: #F8F9FA;
}

::placeholder {
  font-size: 16px;
  line-height: 21px;
}
